In [6]:
import pandas as pd
import os
 
path_dir = '../raw/지역사회건강조사 (전처리된 데이터)_2015/'
 
file_list = os.listdir(path_dir)
data_list = []
for i in file_list:
    if i.split(' ')[0] == '지역사회건강조사':
        data_list.append(pd.read_csv('../raw/지역사회건강조사 (전처리된 데이터)_2015/%s' % i))

for i in data_list:
    i.set_index(['지역','연령별','성별'],inplace=True)

In [7]:
df_health = pd.concat(data_list, axis=1, join='inner')

In [8]:
df_health

              주관적 건강수준  걷기 실천  격렬한 신체활동 실천  긍정적 태도율(자연환경)  주관적 스트레스 수준  \
지역  연령별   성별
서울시 계     계       43.6   57.3         15.8           70.4         29.5
          남       49.1   59.2         19.8           72.0         29.1
          여       39.2   55.8         12.7           69.1         29.7
    19~44 계       54.4   59.2         17.8           66.4         36.3
          남       58.5   62.0         21.8           69.5         36.0
...                ...    ...          ...            ...          ...
강남구 65~74 남       53.7   80.5          7.3           80.5         17.1
          여       27.7   70.2          0.0           63.8         19.1
    75 이상 계       29.2   45.8         10.4           78.7         16.7
          남       36.4   63.6          9.1           77.3         18.2
          여       23.1   30.8         11.5           80.0         15.4

              우울감 경험률  중등도 신체활동 실천  체중조절 경험 여부  행복감 지수
지역  연령별   성별
서울시 계     계       8.3          9.4        63.8    6.79
          남       6.2         11.2        56.0    6.80
          여      10.0          8.0        70.1    6.78
    19~44 계       7.8          8.5        71.6    6.93
          남       5.8         10.1        63.7    6.93
...               ...          ...         ...     ...
강남구 65~74 남       7.3          9.8        43.9    7.41
          여      10.6         12.8        68.1    7.47
    75 이상 계      12.5          6.2        37.5    6.83
          남      13.6         13.6        45.5    6.77
          여      11.5          0.0        30.8    6.88

[390 rows x 9 columns]

In [9]:
df_health.to_csv("../raw/지역사회건강조사 (전처리된 데이터)_2015/통합 테이블(건강)_2015.csv", mode='w',encoding = 'utf-8-sig')

In [10]:
data2 = pd.read_csv('../raw/도시림 데이터 정리_2015.csv')
data2.set_index(['자치구'],inplace=True)
df_park = data2
df_park

      1인당 생활권 도시림 면적
자치구
서울시             5.35
강남구             4.05
강동구             4.95
강북구             4.47
강서구             3.51
관악구             0.85
광진구             1.15
구로구             3.52
금천구             1.80
노원구             3.61
도봉구             3.82
동대문구            2.27
동작구             6.74
마포구             8.62
서대문구            5.07
서초구             4.76
성동구            39.80
성북구             3.01
송파구             7.48
양천구             3.24
영등포구            3.24
용산구             2.55
은평구             5.59
종로구            15.05
중구              2.79
중랑구             4.12

In [11]:
df_park.to_csv("../raw/통합 테이블(공원)_2015.csv", mode='w',encoding = 'utf-8-sig')