In [1]:
import pandas as pd

df = pd.read_csv('../raw/서울시 자치구 재정자립도_2019.txt', thousands = ',', sep ='\t',encoding='UTF8',)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기간      28 non-null     int64
 1   자치구별    28 non-null     object
 2   재정자립도   28 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 800.0+ bytes

In [3]:
df.head()

     기간    자치구별  재정자립도
0  2019  서울시 평균   76.5
1  2019      본청   78.4
2  2019  자치구 평균   28.1
3  2019     종로구   47.4
4  2019      중구   54.9

In [4]:
df.drop(['기간'], axis='columns', inplace=True)

In [5]:
df.dtypes

자치구별      object
재정자립도    float64
dtype: object

In [6]:
df.drop(df.index[0:3],inplace = True)

In [7]:
df.head()

  자치구별  재정자립도
3  종로구   47.4
4   중구   54.9
5  용산구   39.2
6  성동구   32.5
7  광진구   26.7

In [8]:
df.rename(columns={'자치구별':'자치구'}, inplace=True)
df.set_index('자치구',inplace=True)

In [9]:
df

      재정자립도
자치구
종로구    47.4
중구     54.9
용산구    39.2
성동구    32.5
광진구    26.7
동대문구   23.8
중랑구    18.1
성북구    19.6
강북구    16.8
도봉구    17.8
노원구    15.4
은평구    17.5
서대문구   24.1
마포구    30.7
양천구    24.5
강서구    19.7
구로구    21.8
금천구    25.3
영등포구   35.7
동작구    26.0
관악구    18.7
서초구    53.3
강남구    54.4
송파구    38.4
강동구    22.2

In [10]:
df.to_csv("../raw/서울시 자치구 재정자립도_2019.csv", mode='w',encoding = 'utf-8-sig')