In [30]:
import pandas as pd
import numpy as np

data_raw = pd.read_csv('../raw/지역사회건강조사 1차 전처리_2019.csv')

In [31]:
df = data_raw[['만나이','성별','체중조절 경험 여부','자치구']]

In [32]:
df_cw1=df[df['체중조절 경험 여부'] != 9]
df_cw2=df_cw1[df_cw1['체중조절 경험 여부'] != 7]
df_cw2['체중조절 경험 여부'].value_counts(normalize = True)

1    0.465169
4    0.283141
2    0.199433
3    0.052257
Name: 체중조절 경험 여부, dtype: float64

In [33]:
data_pbhlth_code = pd.read_excel('../raw/지역사회건강조사 2019년 원시자료 이용지침서 등/지역사회건강조사 2019 원시자료 참고사항_보건소정보, 세대유형.xlsx',header=3)
data_pbhlth_code = data_pbhlth_code[data_pbhlth_code['시도코드'] == 11][['보건소코드','보건소명']]
data_pbhlth_code["보건소명"] = data_pbhlth_code["보건소명"].str.replace('보건소', '', regex=True)
data_pbhlth_code.columns=['보건소코드','자치구']
list_region = list(data_pbhlth_code.to_dict()['자치구'].values()) + ['서울시']
list_region.reverse()

In [34]:
list_df = []
for value in list_region:
    temp = df_cw2['자치구'] == value
    list_df.append(df_cw2[temp])
list_df[0] = df_cw2

In [35]:
list_age = ['19~200','19~44','45~64','65~74','75~200']
list_sex = ['계','남','여']
idx_sex = []
idx_age = []
idx_region = []
value_cw = []
for i, value1 in enumerate(list_region):
    for j in list_age:
        for k in list_sex:            
            temp = list_df[i][list_df[i]['만나이']>=int(j.split('~')[0])]
            temp1 = temp[temp['만나이'] <= int(j.split('~')[1])]
            if k == '남':
                temp2 = temp1[temp1['성별'] == 1]
            elif k == '여':
                temp2 = temp1[temp1['성별'] == 2]
            else:
                temp2 = temp1
            temp3 = temp2['체중조절 경험 여부'].value_counts(normalize = True).to_dict()
            if 4 not in temp3:
                temp3[4] = 0
            if 3 not in temp3:
                temp3[3] = 0
            value_cw.append(round(100 - (temp3[3]+temp3[4])*100,1))
            
            if j == '19~200':
                idx_age.append('계')
            elif j == '75~200':
                idx_age.append('75 이상')
            else:
                idx_age.append(j)
            idx_sex.append(k)
            idx_region.append(value1)

In [37]:
df1 = pd.DataFrame({'체중조절 경험 여부':value_cw, '지역':idx_region,'연령별':idx_age,'성별':idx_sex})

df1 = df1.set_index(['지역','연령별','성별'])

df1

              체중조절 경험 여부
지역  연령별   성별
서울시 계     계         66.5
          남         60.0
          여         71.5
    19~44 계         72.7
          남         67.0
...                  ...
강남구 65~74 남         46.2
          여         69.0
    75 이상 계         45.0
          남         40.9
          여         47.4

[390 rows x 1 columns]