In [1]:
import pandas as pd
data_raw = pd.read_csv('../raw/지역사회건강조사 원시자료/chs17_a.txt',sep ='\t')

C:\Users\gimhu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (135,209) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
data_raw

,josa_year,id,age,sex,city_cd,bogun_cd,jijum_cd,gagu_cd,gaguw_cd,town_t,...,hwa_03z1,hwa_04z1,hwa_05z1,hwa_06z1,soa_01z1,soa_06z1,soa_07z1,sob_01z1,sob_02z1,sod_02z2
0,2017,2017A00136291000201,82,2,A,1,36291,2,1,1,...,1,1,1,1,2,13,8,3,3,3
1,2017,2017A00136291000202,51,2,A,1,36291,2,2,1,...,1,2,1,1,2,12,8,5,1,2
2,2017,2017A00136291000203,26,1,A,1,36291,2,3,1,...,1,1,1,1,1,4,2,5,1,5
3,2017,2017A00136291000204,24,1,A,1,36291,2,4,1,...,1,2,1,1,1,5,1,5,1,1
4,2017,2017A00136291000205,27,2,A,1,36291,2,5,1,...,1,2,1,1,1,4,1,5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22950,2017,2017A02523762007502,39,2,A,25,23762,75,2,1,...,1,1,2,1,1,3,2,6,1,5
22951,2017,2017A02523762007801,39,2,A,25,23762,78,1,1,...,1,1,2,2,1,2,9,8,1,5
22952,2017,2017A02523762007901,19,2,A,25,23762,79,1,1,...,1,1,1,2,2,11,8,7,4,5
22953,2017,2017A02523762008001,20,2,A,25,23762,80,1,1,...,1,1,1,1,2,11,8,7,4,5
22954,2017,2017A02523762008002,27,1,A,25,23762,80,2,1,...,1,1,1,1,1,4,1,7,1,5

In [4]:
data_pbhlth_code = pd.read_excel('../raw/지역사회건강조사 2017년 원시자료 이용지침서 등/지역사회건강조사 지역명 참고사항.xlsx',header=3)
data_pbhlth_code = data_pbhlth_code[data_pbhlth_code['시도코드'] == 'A'][['보건소코드','보건소명']]

data_pbhlth_code["보건소명"] = data_pbhlth_code["보건소명"].str.replace('보건소', '', regex=True)
data_pbhlth_code.columns=['보건소코드','자치구']
data_pbhlth_code.set_index('보건소코드',inplace=True)
data_pbhlth_code.to_dict()
data_pbhlth_code.to_dict()['자치구']

{1.0: '강남구',
 2.0: '강동구',
 3.0: '강북구',
 4.0: '강서구',
 5.0: '관악구',
 6.0: '광진구',
 7.0: '구로구',
 8.0: '금천구',
 9.0: '노원구',
 10.0: '도봉구',
 11.0: '동대문구',
 12.0: '동작구',
 13.0: '마포구',
 14.0: '서대문구',
 15.0: '서초구',
 16.0: '성동구',
 17.0: '성북구',
 18.0: '송파구',
 19.0: '양천구',
 20.0: '영등포구',
 21.0: '용산구',
 22.0: '은평구',
 23.0: '종로구',
 24.0: '중구',
 25.0: '중랑구'}

In [5]:
df_raw1 = data_raw[['age','sex','bogun_cd','qoa_01z1','pha_04z1','pha_05z1','pha_06z1','pha_07z1','pha_08z1','pha_09z1','phb_01z1','phb_02z1','phb_03z1','obb_01z1','mta_01z1','mtb_01z1','qoc_07z1','ena_01d1','ena_01e1']]
index = ['만나이','성별','보건소번호','주관적 건강수준','격렬한 신체활동 일수','격렬한 신체활동 시간(시)','격렬한 신체활동 시간(분)','중등도 신체활동 일수','중등도 신체활동 시간(시)','중등도 신체활동 시간(분)','걷기 실천 일수','걷기 실천 시간(시)','걷기 실천 시간(분)','체중조절 경험 여부','주관적 스트레스 수준','우울감 경험 여부','행복감 지수','사회환경_동네 자연환경','사회환경_동네 생활환경']
df_raw1.columns = index
df_raw2 = df_raw1.copy() # SettingWithCopyWarning 없애려고 넣음..없어도 돌아는 감
df_raw2['자치구'] = df_raw2['보건소번호'].map(data_pbhlth_code.to_dict()['자치구'])
df_raw2 = df_raw2.drop(['보건소번호'],axis=1)
df_raw2

,만나이,성별,주관적 건강수준,격렬한 신체활동 일수,격렬한 신체활동 시간(시),격렬한 신체활동 시간(분),중등도 신체활동 일수,중등도 신체활동 시간(시),중등도 신체활동 시간(분),걷기 실천 일수,걷기 실천 시간(시),걷기 실천 시간(분),체중조절 경험 여부,주관적 스트레스 수준,우울감 경험 여부,행복감 지수,사회환경_동네 자연환경,사회환경_동네 생활환경,자치구
0,82,2,4,0,88,88,0,88,88,0,88,88,3,4,2,10,1,1,강남구
1,51,2,3,0,88,88,0,88,88,0,88,88,2,3,2,8,1,1,강남구
2,26,1,4,0,88,88,1,2,0,5,0,15,3,2,1,3,2,1,강남구
3,24,1,5,7,0,20,7,3,0,2,0,30,1,1,1,8,1,1,강남구
4,27,2,2,5,1,0,7,10,0,7,0,15,1,2,2,6,1,1,강남구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22950,39,2,3,0,88,88,0,88,88,7,0,30,4,3,2,8,1,1,중랑구
22951,39,2,3,7,1,0,0,88,88,7,0,30,3,2,2,7,2,2,중랑구
22952,19,2,2,0,88,88,5,0,40,5,0,20,1,3,2,8,1,1,중랑구
22953,20,2,2,1,2,0,5,0,30,7,1,0,1,2,2,7,1,1,중랑구
22954,27,1,2,5,5,0,6,5,0,6,3,0,3,3,2,7,2,2,중랑구

In [6]:
df_raw2.to_csv("../raw/지역사회건강조사 1차 전처리_2017.csv", mode='w',encoding = 'utf-8-sig')