In [2]:
import pandas as pd
data_raw = pd.read_csv('../raw/지역사회건강조사 원시자료/chs19_a.txt',sep ='\t')

C:\Users\gimhu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (29,74,80,140,193,205,221,223,225,227,229,231,235,273) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data_raw

,examin_year,exmprs_no,age,sex,ctprvn_code,pbhlth_code,spot_no,hshld_code,mbhld_code,dong_ty_code,...,hwa_05z1,hwa_06z1,fea_01z2,fea_09z1,soa_01z1,soa_06z1,soa_07z1,sob_01z1,sob_02z1,sod_02z2
0,2019,2019111170001700121000201,61,2,11,11700017,121,2,1,1,...,2,2,8,NaN,1,4,1,3,1,1
1,2019,2019111170001700121000202,66,1,11,11700017,121,2,2,1,...,1,2,8,NaN,1,4,1,4,1,1
2,2019,2019111170001700121000401,89,2,11,11700017,121,4,1,1,...,1,2,8,NaN,2,13,8,3,1,3
3,2019,2019111170001700121000701,27,1,11,11700017,121,7,1,1,...,2,2,8,NaN,1,5,1,7,1,5
4,2019,2019111170001700121000801,42,2,11,11700017,121,8,1,1,...,2,1,1,NaN,2,13,8,7,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22925,2019,2019111170025427961000901,62,2,11,11700254,27961,9,1,1,...,1,1,8,NaN,2,12,8,5,1,1
22926,2019,2019111170025427961000902,65,1,11,11700254,27961,9,2,1,...,1,2,8,NaN,1,1,1,3,1,1
22927,2019,2019111170025427961001301,24,1,11,11700254,27961,13,1,1,...,1,1,8,NaN,2,11,8,6,4,5
22928,2019,2019111170025427961001302,56,2,11,11700254,27961,13,2,1,...,1,1,8,NaN,2,12,8,5,3,1
22929,2019,2019111170025427961001901,66,2,11,11700254,27961,19,1,1,...,1,1,8,NaN,2,12,8,3,1,1

In [4]:
data_pbhlth_code = pd.read_excel('../raw/지역사회건강조사 2019년 원시자료 이용지침서 등/지역사회건강조사 2019 원시자료 참고사항_보건소정보, 세대유형.xlsx',header=3)
data_pbhlth_code = data_pbhlth_code[data_pbhlth_code['시도코드'] == 11][['보건소코드','보건소명']]

data_pbhlth_code["보건소명"] = data_pbhlth_code["보건소명"].str.replace('보건소', '', regex=True)
data_pbhlth_code.columns=['보건소코드','자치구']
data_pbhlth_code.set_index('보건소코드',inplace=True)
data_pbhlth_code.to_dict()
data_pbhlth_code.to_dict()['자치구']

{11700190: '강남구',
 11700050: '강동구',
 11700246: '광진구',
 11700165: '동대문구',
 11700203: '서초구',
 11700092: '성동구',
 11700106: '송파구',
 11700181: '용산구',
 11700157: '중구',
 11700238: '강북구',
 11700025: '노원구',
 11700173: '도봉구',
 11700041: '서대문구',
 11700033: '성북구',
 11700076: '은평구',
 11700122: '종로구',
 11700114: '중랑구',
 11700149: '강서구',
 11700068: '관악구',
 11700220: '구로구',
 11700254: '금천구',
 11700131: '동작구',
 11700017: '마포구',
 11700211: '양천구',
 11700084: '영등포구'}

In [5]:
df_raw1 = data_raw[['age','sex','pbhlth_code','qoa_01z1','pha_04z1','pha_05z1','pha_06z1','pha_07z1','pha_08z1','pha_09z1','phb_01z1','phb_02z1','phb_03z1','obb_01z1','mta_01z1','mtb_01z1','qoc_07z1','ena_01d1','ena_01e1','fma_01z1','fma_12z1','fma_13z1','fma_14z1','fma_24z2']]
index = ['만나이','성별','보건소번호','주관적 건강수준','격렬한 신체활동 일수','격렬한 신체활동 시간(시)','격렬한 신체활동 시간(분)','중등도 신체활동 일수','중등도 신체활동 시간(시)','중등도 신체활동 시간(분)','걷기 실천 일수','걷기 실천 시간(시)','걷기 실천 시간(분)','체중조절 경험 여부','주관적 스트레스 수준','우울감 경험 여부','행복감 지수','사회환경_동네 자연환경','사회환경_동네 생활환경','가구원수','가구소득_년월','가구소득_년금액','가구소득_월금액','조건부가구소득']
df_raw1.columns = index
df_raw2 = df_raw1.copy() # SettingWithCopyWarning 없애려고 넣음..없어도 돌아는 감
df_raw2['자치구'] = df_raw2['보건소번호'].map(data_pbhlth_code.to_dict()['자치구'])
df_raw2 = df_raw2.drop(['보건소번호'],axis=1)
df_raw2

,만나이,성별,주관적 건강수준,격렬한 신체활동 일수,격렬한 신체활동 시간(시),격렬한 신체활동 시간(분),중등도 신체활동 일수,중등도 신체활동 시간(시),중등도 신체활동 시간(분),걷기 실천 일수,...,우울감 경험 여부,행복감 지수,사회환경_동네 자연환경,사회환경_동네 생활환경,가구원수,가구소득_년월,가구소득_년금액,가구소득_월금액,조건부가구소득,자치구
0,61,2,4,1,5,0,3,1,0,7,...,2,5,2,1,2,9.0,99999.0,99999.0,4.0,마포구
1,66,1,3,1,5,0,0,88,88,7,...,2,8,2,1,2,9.0,99999.0,99999.0,4.0,마포구
2,89,2,5,0,88,88,0,88,88,0,...,2,77,9,9,1,2.0,88888.0,60.0,88.0,마포구
3,27,1,4,1,0,10,1,0,10,7,...,2,8,1,1,1,2.0,88888.0,200.0,88.0,마포구
4,42,2,3,2,0,30,2,0,10,5,...,2,6,2,2,3,2.0,88888.0,200.0,88.0,마포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22925,62,2,3,0,88,88,7,1,0,5,...,2,4,9,1,2,2.0,88888.0,150.0,88.0,금천구
22926,65,1,4,7,2,0,7,2,0,0,...,2,10,2,2,2,2.0,88888.0,150.0,88.0,금천구
22927,24,1,2,0,88,88,0,88,88,7,...,2,7,2,1,3,2.0,88888.0,300.0,88.0,금천구
22928,56,2,3,0,88,88,0,88,88,3,...,2,7,1,1,3,2.0,88888.0,300.0,88.0,금천구
22929,66,2,1,0,88,88,7,1,0,7,...,2,10,1,1,3,2.0,88888.0,400.0,88.0,금천구

In [6]:
df_raw2.to_csv("../raw/지역사회건강조사 1차 전처리_2019.csv", mode='w',encoding = 'utf-8-sig')