In [1]:
import pandas as pd
import numpy as np

data_raw = pd.read_csv('../raw/지역사회건강조사 1차 전처리_2015.csv')

In [2]:
df = data_raw[['만나이','성별','사회환경_동네 자연환경','자치구']]

In [3]:
df_ne1=df[df['사회환경_동네 자연환경'] != 9]
df_ne2=df_ne1[df_ne1['사회환경_동네 자연환경'] != 7]
df_ne2

       만나이  성별  사회환경_동네 자연환경  자치구
0       58   2             1  강남구
1       60   1             1  강남구
2       52   2             1  강남구
3       22   2             1  강남구
4       51   2             1  강남구
...    ...  ..           ...  ...
22999   40   1             1  중랑구
23000   26   2             1  중랑구
23001   25   1             1  중랑구
23002   27   2             2  중랑구
23003   40   2             2  중랑구

[22599 rows x 4 columns]

In [4]:
data_pbhlth_code = pd.read_excel('../raw/지역사회건강조사 2019년 원시자료 이용지침서 등/지역사회건강조사 2019 원시자료 참고사항_보건소정보, 세대유형.xlsx',header=3)
data_pbhlth_code = data_pbhlth_code[data_pbhlth_code['시도코드'] == 11][['보건소코드','보건소명']]
data_pbhlth_code["보건소명"] = data_pbhlth_code["보건소명"].str.replace('보건소', '', regex=True)
data_pbhlth_code.columns=['보건소코드','자치구']
list_region = list(data_pbhlth_code.to_dict()['자치구'].values()) + ['서울시']
list_region.reverse()

In [5]:
list_df = []
for value in list_region:
    temp = df_ne2['자치구'] == value
    list_df.append(df_ne2[temp])
list_df[0] = df_ne2
list_df

[       만나이  성별  사회환경_동네 자연환경  자치구
 0       58   2             1  강남구
 1       60   1             1  강남구
 2       52   2             1  강남구
 3       22   2             1  강남구
 4       51   2             1  강남구
 ...    ...  ..           ...  ...
 22999   40   1             1  중랑구
 23000   26   2             1  중랑구
 23001   25   1             1  중랑구
 23002   27   2             2  중랑구
 23003   40   2             2  중랑구

 [22599 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경   자치구
 17492   75   2             2  영등포구
 17493   80   1             2  영등포구
 17494   21   2             2  영등포구
 17495   19   2             2  영등포구
 17496   19   2             2  영등포구
 ...    ...  ..           ...   ...
 18406   68   1             1  영등포구
 18407   60   2             1  영등포구
 18408   28   2             2  영등포구
 18409   30   1             2  영등포구
 18410   60   2             2  영등포구

 [895 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 16571   52   2             2  양천구
 16572   54   1             1  양천구
 16573   25   2             2  양천구
 16574   20   1             1  양천구
 16575   79   2             1  양천구
 ...    ...  ..           ...  ...
 17487   54   2             1  양천구
 17488   60   1             1  양천구
 17489   24   1             1  양천구
 17490   55   1             1  양천구
 17491   49   2             1  양천구

 [916 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 11035   67   1             1  마포구
 11037   25   1             2  마포구
 11038   70   1             1  마포구
 11039   73   2             2  마포구
 11041   48   2             2  마포구
 ...    ...  ..           ...  ...
 11949   21   2             2  마포구
 11950   49   1             1  마포구
 11951   45   2             1  마포구
 11952   32   2             1  마포구
 11953   32   1             2  마포구

 [891 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 10115   72   1             1  동작구
 10116   69   2             2  동작구
 10117   23   1             2  동작구
 10118   62   1             1  동작구
 10119   28   1             1  동작구
 ...    ...  ..           ...  ...
 11030   55   2             1  동작구
 11031   60   1             1  동작구
 11032   27   2             1  동작구
 11033   37   2             1  동작구
 11034   40   1             1  동작구

 [908 rows x 4 columns],
       만나이  성별  사회환경_동네 자연환경  자치구
 6435   22   2             1  금천구
 6436   59   1             2  금천구
 6437   56   2             2  금천구
 6438   28   1             2  금천구
 6439   31   1             2  금천구
 ...   ...  ..           ...  ...
 7348   34   2             1  금천구
 7349   38   1             1  금천구
 7350   37   2             1  금천구
 7351   66   2             1  금천구
 7352   76   1             1  금천구

 [879 rows x 4 columns],
       만나이  성별  사회환경_동네 자연환경  자치구
 5516   41   2             2  구로구
 5517   43   1             2  구로구
 5518   41   2             2  구로구
 5519   64   2             2  구로구
 5520   59   1             2  구로구
 ...   ...  ..           ...  ...
 6430   58   2             1  구로구
 6431   30   1             1  구로구
 6432   40   2             1  구로구
 6433   40   1             1  구로구
 6434   40   2             1  구로구

 [866 rows x 4 columns],
       만나이  성별  사회환경_동네 자연환경  자치구
 3678   26   1             1  관악구
 3679   42   1             1  관악구
 3680   28   2             1  관악구
 3681   26   1             1  관악구
 3682   27   1             1  관악구
 ...   ...  ..           ...  ...
 4592   52   1             1  관악구
 4593   25   1             1  관악구
 4594   23   2             1  관악구
 4595   49   1             1  관악구
 4596   19   1             1  관악구

 [899 rows x 4 columns],
       만나이  성별  사회환경_동네 자연환경  자치구
 2758   57   1             1  강서구
 2759   50   2             1  강서구
 2760   27   2             1  강서구
 2761   24   2             1  강서구
 2762   63   1             1  강서구
 ...   ...  ..           ...  ...
 3673   66   1             2  강서구
 3674   62   2             2  강서구
 3675   57   1             2  강서구
 3676   53   2             2  강서구
 3677   29   1             2  강서구

 [893 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 22085   49   2             1  중랑구
 22086   50   1             2  중랑구
 22087   49   1             1  중랑구
 22088   49   1             1  중랑구
 22089   46   1             1  중랑구
 ...    ...  ..           ...  ...
 22999   40   1             1  중랑구
 23000   26   2             1  중랑구
 23001   25   1             1  중랑구
 23002   27   2             2  중랑구
 23003   40   2             2  중랑구

 [901 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 20251   34   1             1  종로구
 20252   61   2             1  종로구
 20253   66   1             1  종로구
 20254   74   2             1  종로구
 20255   81   2             2  종로구
 ...    ...  ..           ...  ...
 21164   24   2             1  종로구
 21165   26   2             1  종로구
 21166   34   1             1  종로구
 21167   33   2             2  종로구
 21168   38   1             1  종로구

 [904 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 19330   65   2             1  은평구
 19331   41   1             1  은평구
 19332   46   1             1  은평구
 19333   58   2             1  은평구
 19334   67   1             1  은평구
 ...    ...  ..           ...  ...
 20246   41   1             1  은평구
 20247   32   2             1  은평구
 20248   39   1             1  은평구
 20249   46   2             1  은평구
 20250   45   1             1  은평구

 [904 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 14719   62   2             1  성북구
 14720   67   1             2  성북구
 14721   33   1             1  성북구
 14722   42   2             2  성북구
 14723   44   1             2  성북구
 ...    ...  ..           ...  ...
 15636   66   1             2  성북구
 15637   37   1             1  성북구
 15638   42   2             2  성북구
 15639   50   1             1  성북구
 15640   23   1             1  성북구

 [922 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경   자치구
 11954   33   1             1  서대문구
 11955   59   2             2  서대문구
 11956   63   1             1  서대문구
 11957   60   2             2  서대문구
 11958   69   1             2  서대문구
 ...    ...  ..           ...   ...
 12873   67   2             1  서대문구
 12874   73   1             1  서대문구
 12875   37   1             1  서대문구
 12876   36   2             1  서대문구
 12877   62   1             2  서대문구

 [917 rows x 4 columns],
       만나이  성별  사회환경_동네 자연환경  자치구
 8277   64   1             1  도봉구
 8278   58   2             1  도봉구
 8279   64   1             1  도봉구
 8280   62   2             2  도봉구
 8281   59   2             1  도봉구
 ...   ...  ..           ...  ...
 9191   22   1             1  도봉구
 9192   22   1             2  도봉구
 9193   53   1             1  도봉구
 9194   49   2             1  도봉구
 9195   20   1             1  도봉구

 [914 rows x 4 columns],
       만나이  성별  사회환경_동네 자연환경  자치구
 7353   61   1             2  노원구
 7354   41   2             2  노원구
 7355   50   1             1  노원구
 7356   55   2             2  노원구
 7357   21   2             1  노원구
 ...   ...  ..           ...  ...
 8272   42   2             1  노원구
 8273   48   2             1  노원구
 8274   78   1             1  노원구
 8275   43   1             1  노원구
 8276   38   2             1  노원구

 [920 rows x 4 columns],
       만나이  성별  사회환경_동네 자연환경  자치구
 1839   40   1             2  강북구
 1840   72   2             2  강북구
 1841   66   2             1  강북구
 1842   67   1             2  강북구
 1843   40   2             1  강북구
 ...   ...  ..           ...  ...
 2753   55   1             1  강북구
 2754   81   1             1  강북구
 2755   60   1             1  강북구
 2756   53   2             1  강북구
 2757   37   1             1  강북구

 [918 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경 자치구
 21169   28   1             1  중구
 21170   66   1             2  중구
 21171   57   2             1  중구
 21172   62   1             1  중구
 21173   69   1             1  중구
 ...    ...  ..           ...  ..
 22080   81   2             1  중구
 22081   64   1             1  중구
 22082   30   1             1  중구
 22083   37   1             2  중구
 22084   41   2             2  중구

 [877 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 18411   39   1             1  용산구
 18412   60   2             1  용산구
 18413   63   1             1  용산구
 18414   64   1             1  용산구
 18415   61   2             1  용산구
 ...    ...  ..           ...  ...
 19325   45   2             1  용산구
 19326   55   1             1  용산구
 19327   53   2             1  용산구
 19328   27   1             1  용산구
 19329   56   2             1  용산구

 [905 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 15641   40   1             1  송파구
 15642   63   2             2  송파구
 15643   59   2             1  송파구
 15644   60   1             2  송파구
 15646   58   2             2  송파구
 ...    ...  ..           ...  ...
 16566   64   2             2  송파구
 16567   50   1             2  송파구
 16568   78   2             1  송파구
 16569   47   2             2  송파구
 16570   19   2             2  송파구

 [916 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 13798   44   2             1  성동구
 13799   45   1             1  성동구
 13800   57   2             1  성동구
 13801   57   1             1  성동구
 13802   33   1             1  성동구
 ...    ...  ..           ...  ...
 14714   33   2             1  성동구
 14715   57   1             2  성동구
 14716   26   2             1  성동구
 14717   32   2             2  성동구
 14718   35   1             1  성동구

 [915 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 12878   78   2             1  서초구
 12879   74   1             1  서초구
 12880   73   2             1  서초구
 12881   51   1             1  서초구
 12882   74   1             1  서초구
 ...    ...  ..           ...  ...
 13793   59   1             1  서초구
 13794   85   2             1  서초구
 13795   33   2             1  서초구
 13796   35   2             2  서초구
 13797   45   1             2  서초구

 [915 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경   자치구
 9196    69   2             2  동대문구
 9197    65   2             1  동대문구
 9198    99   2             1  동대문구
 9199    42   2             2  동대문구
 9200    24   1             1  동대문구
 ...    ...  ..           ...   ...
 10110   64   1             1  동대문구
 10111   35   1             1  동대문구
 10112   27   2             1  동대문구
 10113   57   2             1  동대문구
 10114   27   1             1  동대문구

 [901 rows x 4 columns],
       만나이  성별  사회환경_동네 자연환경  자치구
 4597   70   1             1  광진구
 4598   54   2             1  광진구
 4599   34   2             1  광진구
 4600   72   2             1  광진구
 4601   22   1             1  광진구
 ...   ...  ..           ...  ...
 5511   19   2             1  광진구
 5512   22   2             2  광진구
 5513   30   1             2  광진구
 5514   25   1             1  광진구
 5515   30   1             1  광진구

 [890 rows x 4 columns],
       만나이  성별  사회환경_동네 자연환경  자치구
 920    56   1             1  강동구
 921    47   2             1  강동구
 922    41   1             1  강동구
 923    38   2             1  강동구
 924    35   1             2  강동구
 ...   ...  ..           ...  ...
 1834   29   2             1  강동구
 1835   65   2             2  강동구
 1836   36   1             2  강동구
 1837   43   2             2  강동구
 1838   55   2             2  강동구

 [915 rows x 4 columns],
      만나이  성별  사회환경_동네 자연환경  자치구
 0     58   2             1  강남구
 1     60   1             1  강남구
 2     52   2             1  강남구
 3     22   2             1  강남구
 4     51   2             1  강남구
 ..   ...  ..           ...  ...
 915   21   2             2  강남구
 916   19   2             1  강남구
 917   34   1             1  강남구
 918   34   2             1  강남구
 919   39   2             2  강남구

 [918 rows x 4 columns]]

In [6]:
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

list_age = ['19~200','19~44','45~64','65~74','75~200']
list_sex = ['계','남','여']
idx_sex = []
idx_age = []
idx_region = []
value_ne = []
for i, value1 in enumerate(list_region):
    for j in list_age:
        for k in list_sex:            
            temp = list_df[i][list_df[i]['만나이']>=int(j.split('~')[0])]
            temp1 = temp[temp['만나이'] <= int(j.split('~')[1])]
            if k == '남':
                temp2 = temp1[temp1['성별'] == 1]
            elif k == '여':
                temp2 = temp1[temp1['성별'] == 2]
            else:
                temp2 = temp1
            value_ne.append(round(temp2['사회환경_동네 자연환경'].value_counts(normalize = True)[1]*100,1))
            if j == '19~200':
                idx_age.append('계')
            elif j == '75~200':
                idx_age.append('75 이상')
            else:
                idx_age.append(j)
            idx_sex.append(k)
            idx_region.append(value1)

In [7]:
df_final = pd.DataFrame({'긍정적 태도율(자연환경)':value_ne, '지역':idx_region,'연령별':idx_age,'성별':idx_sex})

df_final = df_final.set_index(['지역','연령별','성별'])

df_final

              긍정적 태도율(자연환경)
지역  연령별   성별
서울시 계     계            70.4
          남            72.0
          여            69.1
    19~44 계            66.4
          남            69.5
...                     ...
강남구 65~74 남            80.5
          여            63.8
    75 이상 계            78.7
          남            77.3
          여            80.0

[390 rows x 1 columns]

In [8]:
df_final.to_csv("../raw/지역사회건강조사 (전처리된 데이터)_2015/지역사회건강조사 (긍정적 태도율(자연환경))_2015.csv", mode='w',encoding = 'utf-8-sig')